*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
	font-family: Arial;
	}
#iconos{
	width:40px;
	height: auto;
}

img{
	width: 30%;
	height: auto;
}

.imgDocente{
	width: 100%;
	height: auto;
	font-size: 20pt;

}
.menu_bar{
	display: none;
}
header{
    font-size: 10pt;
    position: relative;
}

header nav{
    width: 100%;
    height: auto;
    background-color: #209B76;
    z-index: 1000;
}

header nav ul{
    list-style: none;

}


header nav ul li{
    display: inline-block;
    position: relative;
}

header nav ul li a{
    padding:10px;
    display: block;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}
header nav ul li label{
    padding:10px;
    margin-left: 15px;
    display: block;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}
header nav ul li a span{
    margin-right: 10px;
}
header nav ul li a:hover{
    background-color: #27bf91;
    color:#FFF;
    transition: 0.3s;
}
header nav ul li .children{
    display: none;
    background-color: #27bf91;
    position: relative;
    z-index: 1000;

}
header nav ul li:hover .children{
    background-color: #209B76;
}

fieldset{	
	 position: absolute;
    left: 10%;
    width: 80%;
    height: auto;
    border: 5px solid #263181;
    float: none;
    background-color: #FFF;
    color: #000;
}
legend{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 30pt;
}
section{
	overflow: scroll;
	width: 100%;
}

label{
    color:#209B76;
}

input{
    position: relative;
    width: 80%;
    height: 40px;
    font-size: 13pt;
    border: none;
    border-bottom: 2px solid #209B76;
    text-align: center;
    color: #18775b;
}
input:focus{
    
    color:#000000;
}


table{
	width:100%;
	height: auto;
	border: none;
	border-collapse: collapse;
}

table thead{
	text-align: center;
	font-weight: bold;
	border: 2px solid white;
	background-color: #263181;
	color: #FFF;
}

table tbody{
	color: #000;
}
td{
	padding: 10px;
	text-align: center;
	width: 14.5%;
	height: auto;
}

.fila:hover{
	background:#D1CCCB;
	transition: 0.3s;
}
.opcion1{
	width: 95%;
	font-size: 100%;
	padding: 7px; 
	background-color: #263181;
	color: #FFF;
	border: none;
}

.opcion1:hover{
	background-color:#58C926;
	transition: 0.3s;
}
.opcion2{

	width: 95%;
	font-size: 100%;
	padding: 7px; 
	background-color: #263181;
	color: #FFF;
	border: none;
}
.opcion2:hover{
	background-color:#E12046;
	transition: 0.3s;
}



.registrar{
	margin-left: 10px;
	float: left;
	padding: 7px; 
	font-size: 100%;
	color: #FFF;
	border: none;
	background-color: #263181;
}
.registrar:hover{
	background-color: #498FF3;
	transition: 0.5s;
}

.buscador{
	margin-right: 5px;
	float: right;
	width: 20%;
	height: 33px;
	border: 2px solid;
	border-color: #209B76;
	transition: 1s;
}
.buscador:focus{
	width: 30%;
	transition: 1s;
}
.botones{
    padding: 7px;
    height: 60%;
    background-color: #263181;
    color: white;
    border:none;
    font-size: 100%;
	}
.botones:hover{
	background-color: #498FF3;
	transition: 0.5s;
}
.buscar{
	margin-right: 10px;
	float: right;
    padding: 7px;
    height: 60%;
    background-color: #263181;
    color: white;
    border:none;
    font-size: 100%;
	}
.buscar:hover{
	background-color: #498FF3;
	transition: 0.5s;
}
div{
    width:100%;
    height: 59px;
    background-color: #263181;
    z-index: 1000;
}

div nav ul{
    list-style: none;
}
div nav ul li{
    float: right;
}

div nav ul li a {
    color:#FFFFFF;
    padding: 20px;
    display: block;
    text-decoration: none;
    font-weight: bold; 

}
div nav ul li label {
    color:#FFFFFF;
    padding: 20px;
    display: block;
    text-decoration: none;
    font-weight: bold; 
}
div nav ul li img{
    width: 4%;
    margin-right: 15px;
}
div nav ul li a:hover{
    background-color:#498FF3;
    transition: 0.3s;
}

input::-webkit-input-placeholder {
  	font-size: 100%;
}
span{
    margin-right: 10px;
}
a{
	text-decoration: none;
	color: #FFFFFF;
}
@media screen and (max-width: 1160px){

	*{
		font-size: 100%;
	}

	body{
		padding-top: 69px;
	}
	
	.menu_bar{
		display: block;
		width: 100%;
		height: auto;
		position: fixed;
		top: 0;
		background-color: #209B76; 
	}

	.menu_bar .bt-menu{
		display: block;
		padding: 20px;
		color: #FFF;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}

	.menu_bar img{
		float: right;
		width:  100%;
		height: auto;

	}
	img{
		width: 30px;
	}

	header{
		z-index: 1000;
	}
	header nav{
		width: 100%;
	}

	header nav{
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
	}

	header nav ul li{
		display: block;
		border-bottom: 1px solid rgba(255,255,255,.5);
	}
	
	header nav ul li a{
		display: block;

	}

	header nav ul li .children{
		width: 100%;
		position: relative;

	}
	
	header nav ul li .children li a{
		margin-left: 20px;
	}

	header nav ul li:hover .children{
		display: none;
	}
	article{
		margin-top: 60px;
	}
	fieldset{
        position: relative;
        float: none;
        left: 0;
        width: 100%;
        height: auto;
        border: none;
        z-index: 1;
    }
	div{
		position: fixed;
		display: block;
		z-index: 90;
	}
	div nav ul li label {
	    display: none;
	}
    section{
    	width: 100%;
    }
	.opcion{
		width: 95%;
		font-size: 100%;
	}

	.registrar{
		margin-left: 10px;
		width: 95%;
	}
	.buscador{

		margin-top: 5px;
		width: 65%;
	}
	.buscar{
		margin-top: 5px;
		width: 30%;
	}
}