body{
	background-image:url(../fotos/inicio.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center 0;
}
*{
	margin: 0;
	padding: 0;
	font-family: Arial;
}
section{
	margin-top: 25%;
}
.campos{
    position: relative;
    border: 4px solid #209B76;
    width: 250px;
    height: 35px;
    font-size: 13pt;
	text-align: center;
}
.boton{
	position: relative;
    padding: 7px;
    background-color: #263181;
    color: white;
    border:none;
	width: 200px;
	height: 35px;
	font-size: 10pt;
	transition: 0.3s;
}
.boton:hover{
	background-color: #498FF3;
}
div{
	height: 60%;
}
.olvido{
	text-decoration: none;
	font-size: 13px;
	color:#000;
}
.olvido:hover{
	color: #263181;
}

form{
	width: auto;
	background-color: rgba(255,255,255,.6);
	z-index: 10;
}